force-app/main/default/flows/ReturnOrder_Label_Email_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Manages the Label Email Sent Date field based on the Label Email Sent checkbox for ReturnOrder</description>
    <environments>Default</environments>
    <interviewLabel>Return Order Label Email Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Return Order Label Email Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Label_Email_Sent_Date</name>
        <label>Set Label Email Sent Date</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <inputAssignments>
            <field>LabelEmailSentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Label_Email_Sent_Date</name>
        <label>Clear Label Email Sent Date</label>
        <locationX>440</locationX>
        <locationY>323</locationY>
        <inputAssignments>
            <field>LabelEmailSentDate__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Label_Email_Status_Decision</targetReference>
        </connector>
        <object>ReturnOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <name>Label_Email_Status_Decision</name>
        <label>Label Email Status Decision</label>
        <locationX>314</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Sent_True_Date_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LabelEmailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LabelEmailSentDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Label_Email_Sent_Date</targetReference>
            </connector>
            <label>Email Sent True &amp; Date Empty</label>
        </rules>
        <rules>
            <name>Email_Sent_False_Date_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LabelEmailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LabelEmailSentDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Label_Email_Sent_Date</targetReference>
            </connector>
            <label>Email Sent False &amp; Date Exists</label>
        </rules>
    </decisions>
    <status>Active</status>
</Flow>